[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/hugo-theme-nostyleplease"]
	path = themes/hugo-theme-nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
